*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;

}
/* --HEADER-- */
#header{
    display: flex;
    justify-content:center;
    background-color:rgba(127,255,0,.25) ;
    /* width: 100vh; */
    height: 250px;
    /* position:relative ; */
}
.header_title{
    margin: auto;
    display: block;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    text-shadow: black 10px 5px 5px;
    color:white;
    /* position: relative; */
}
/* --MAIN-- */
main{

}
#q{
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}
/* --Robot-- */
.robot{
    /* z-index: 1; */
    position: relative;
    display: flex;
    background:url(image/zv6.jpg);
    justify-content:center;
    padding-top: 70px;
}
/* #canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #000;
} */
/* --Robot-man-- */
.robot_man{
    margin: auto;
}
/* --head-- */
.man_head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.man_ear{
    width: 30px;
    height: 40px;
    background-color:chartreuse ;
    border: 1px solid coral;
    border-radius: 5px;

}
.man_head_main{
    width: 180px;
    height: 120px;
    background-color: chartreuse;
    border: 1px solid coral;
    border-radius: 15px;
}
/* --Robot-cat-- */
.robot_cat{
    margin:auto;
    position:relative;
}
/* --head-- */
.cat_head{
    width: 135px;
    height: 120px;
    background-color:chartreuse ;
    border: 1px solid coral;
    border-radius: 15px;
}
.cat_ear{
    top: 20px;
    left: 85px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: chartreuse;
    border: 1px solid coral;
    border-radius: 50px;

}
.cat_ear_item{
    top: 10px;
    left: 15px;
    width: 20px;
    height: 100px;
    position: absolute;
    background-color: chartreuse;
    border: 1px solid coral;
    border-radius: 15px; 
    transform-origin: 10px 10px;
    transform: rotateZ(180deg);

}
.cat_eye{
    position: absolute;
    top: 25px;
    left: 0;
    width: 35px;
    height: 25px;
    background-color: rgb(12, 163, 138);
    border: 1px solid coral ;
    border-radius: 0 15px 15px 0;
}
.cat_eye_pupil{
    position: absolute;
    top: 9px;
    left: 0;
    width:30px;
    height: 7px;
    background-color: black;
    border-radius: 0 5px 5px 0;
}


