*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
/* --HEADER-- */
header{

}
/* --MAIN-- */
main{

}
/* --Robot-- */
.robot{
    display: flex;
    background-color:#83E7E7 ;
}
/* --Robot-man-- */
.robot_man{

}
/* --head-- */
.man_head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.man_ear{
    width: 30px;
    height: 40px;
    background-color:chartreuse ;
    border: 1px solid coral;
    border-radius: 5px;

}
.man_head_main{
    width: 180px;
    height: 120px;
    background-color: chartreuse;
    border: 1px solid coral;
    border-radius: 15px;
}


